/*
Error: Undefined variable: "$color-white".
        on line 19 of sass/framework/_buttons.sass, in `button-main-style'
        from line 23 of sass/framework/_buttons.sass
        from line 14 of sass/main.sass

14: @import "framework/buttons"

Backtrace:
sass/framework/_buttons.sass:19:in `button-main-style'
sass/framework/_buttons.sass:23
sass/main.sass:14
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/script/tree/variable.rb:49:in `_perform'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/script/tree/node.rb:50:in `perform'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:395:in `visit_prop'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:364:in `block (4 levels) in visit_mixin'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:364:in `map'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:364:in `block (3 levels) in visit_mixin'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:364:in `block (2 levels) in visit_mixin'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:84:in `perform_arguments'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:359:in `block in visit_mixin'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/stack.rb:98:in `block in with_mixin'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/stack.rb:98:in `with_mixin'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:347:in `visit_mixin'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `map'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:326:in `block (2 levels) in visit_import'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:326:in `map'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/stack.rb:88:in `block in with_import'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/stack.rb:88:in `with_import'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:157:in `visit'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/engine.rb:295:in `render_with_sourcemap'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:328:in `block in watch'
/usr/share/gems/gems/listen-2.7.11/lib/listen/listener.rb:282:in `call'
/usr/share/gems/gems/listen-2.7.11/lib/listen/listener.rb:282:in `_process_changes'
/usr/share/gems/gems/listen-2.7.11/lib/listen/listener.rb:239:in `block in _wait_for_changes'
/usr/share/gems/gems/listen-2.7.11/lib/listen/listener.rb:222:in `loop'
/usr/share/gems/gems/listen-2.7.11/lib/listen/listener.rb:222:in `_wait_for_changes'
/usr/share/gems/gems/listen-2.7.11/lib/listen/listener.rb:318:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$color-white\".\A         on line 19 of sass/framework/_buttons.sass, in `button-main-style'\A         from line 23 of sass/framework/_buttons.sass\A         from line 14 of sass/main.sass\A \A 14: @import \"framework/buttons\""; }
