// IMPORTED FROM UTILS
=hovering($base-color)
  background-color: $base-color
  &:hover
    background-color: lighten($base-color, 7%)


// BUTTONS
$button-large-height: 48px
$button-small-height: 28px

$button-settings:(padding: 0)


=button-main-style($button-height)
  display: inline-block

  vertical-align: bottom
  box-sizing: border-box
  height: $button-height
  min-width: $button-height*5
  font-size: round(($button-height/100)*60)
  //line-height: round(($button-height/100)*60)
  padding: round(($button-height - $button-height*60/100)/2) round($button-height/2)
  color: $color-white
  text-align: center

  margin: 10px 0

%fw-button-large
  +button-main-style($button-large-height)
  &:hover
    box-shadow: 2px 3px 7px 0 $color-grey

%fw-button-small
  +button-main-style($button-small-height)



.button-large-blue
  @extend %fw-button-large
  +hovering($color-blue)

.button-large-red
  @extend %fw-button-large
  +hovering($color-red)



.button-small-blue
  @extend %fw-button-small
  +hovering($color-blue)

.button-small-red
  @extend %fw-button-small
  +hovering($color-red)



.button-large-blue--rounded
  @extend %fw-button-large
  +hovering($color-blue)
  border-radius: $button-large-height/2

.button-large-red--rounded
  @extend %fw-button-large
  +hovering($color-red)
  border-radius: $button-large-height/2